 <div>
    <form id="formReset" class="formReset" method="post">
        <h2>RECUPERAR CONTRASEÑA</h2>
        <input class="formResetInput" type="email" name="email" id="email" placeholder="Ingrese su email" required>
        <div id="btnCont">
            <button id="btnSub" class="btnSub" type="submit">Cambiar contraseña</button>
            <a href="/">
                <button class="btnBack" type="button">Volver atrás</button>
            </a>
        </div>
        <div id="message"></div>
    </form>
</div>

<script src="/js/resetPassReq.js"></script>

