<div>
    <form id="formResetPassword" class="formReset" action="/reset_password" method="post">
        <h2>Restablecer Contrase침a</h2>
        <input type="hidden" name="token" id="token" value="{{ token }}">
        <input class="formResetInput" type="password" name="newPassword" id="newPassword" placeholder="Ingrese su nueva contrase침a" required>
        <div id="btnCont">
            <button id="btnSub" class="btnSub" type="submit">Restablecer contrase침a</button>
            <a href="/">
                <button class="btnBack" type="button">Volver atr치s</button>
            </a>
        </div>
        <div id="message"></div>
    </form>
</div>