
#productos{
    background-color: rgb(245, 35, 35);
    margin: 20px;
    padding: 10px;
    color: white;
    text-shadow: 3px 3px 5px black;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 8px 8px 10px black;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    font-size: 2vh;
    justify-content: center;
}

#productos div{
    background-color: black;
    padding: 20px;
    max-width: 45vh;
    min-width: 45vh;
}


.chat{
    justify-content: center;
    text-align: center;
    background-color: blue;

}

#chatBox{
    background-color: red;
    width: 70vh;
    height: 60vh;
}


.formProduct{
    background-color: green;
    align-content: right;
    width: 125vh;
}

.delProduct{
    background-color: red;
}

body{
    font-family: 'Poppins', sans-serif;
    background: rgb(39,55,77);
    background: linear-gradient(0deg, rgba(39,55,77,1) 0%, rgba(82,109,130,1) 10%, rgba(157,178,191,1) 30%, rgba(221,230,237,1) 100%);
}


.header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

.header h1{
    padding-left: 2vh;
}

.logoutBtn{
    font-family: 'Poppins', sans-serif;
    width: 20vh;
    height: 10vh;
    font-size: 2.5vh;
    
}

