.prodMasChat{
    background-color: aqua;
    display: flex;
    gap: 5vh;
}

#productos{
    background-color: rgb(245, 35, 35);
    margin: 20px;
    padding: 10px;
    color: white;
    text-shadow: 3px 3px 5px black;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 8px 8px 10px black;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    font-size: 2vh;
    justify-content: center;
}

#productos div{
    background-color: black;
    padding: 20px;
    max-width: 45vh;
    min-width: 45vh;
}


.chat{
    justify-content: center;
    text-align: center;
    background-color: blue;

}

#chatBox{
    background-color: red;
    width: 70vh;
    height: 60vh;
}


.formProduct{
    background-color: green;
    align-content: right;
    width: 125vh;
}

.delProduct{
    background-color: red;
}