<div id="chat" class="chat">
            <h1>Chat</h1>
            <div id="chatBox"></div>
            <input type="text" id="envMensaje" placeholder="Ingrese Mensaje"> 
            <button id="btnEnviar">Enviar</button>
            
    </div>