<div>
    <form id="formRegister" class="formRegister" action="/sessions/register" method="post" enctype="application/x-www-form-urlencoded">

        <h2>REGISTRATE!</h2>
        <p> Completa todos los datos del formulario para registrarte </p>

        <label id="formRegisterLabel"  class="formRegisterLabel" for="_f_name">Nombre:</label>
        <input id="formRegisterInput" type="text" name="firstName" id="_f_name" />

        <label id="formRegisterLabel"  class="formRegisterLabel" for="_l_name">Apellido:</label>
        <input id="formRegisterInput" type="text" name="lastName" id="_l_name" />

        <label id="formRegisterLabel"  class="formRegisterLabel" for="_age">Edad:</label>
        <input id="formRegisterInput" type="number" name="age" id="_age" />

        <label id="formRegisterLabel"  class="formRegisterLabel" for="_email">Email:</label>
        <input id="formRegisterInput" type="email" name="email" id="_email" />

        <label id="formRegisterLabel"  class="formRegisterLabel" for="_pass">Password:</label>
        <input id="formRegisterInput" type="password" name="password" id="_pass" />

        <button id="btnSubmit" type="submit">Registrarse</button>
        <a href="/">
            <button id="btnBack" type="button">Volver  atrás</button>
        </a>
    </form>
</div>