<div>
    <form action="/sessions/reset_password" method="post" enctype="application/x-www-form-urlencoded">
        <label>Ingrese correo</label>
        <input type="text" name="email" id="email">
        <label>Ingrese nueva contraseña</label>
        <input type="password" name="password" id="password"> 
        <button id="btnSub" class="btnSub" type="submit">Cambiar contraseña</button>
    </form>
</div>
