<div>
    <form action="/sessions/reset_password" id="formReset" class="formReset" method="post" enctype="application/x-www-form-urlencoded">
        <h2>RECUPERAR CONTRASEÑA</h2>
        <input class="formResetInput" type="text" name="email" id="email" placeholder="Ingrese su email">
        <input class="formResetInput" type="password" name="password" id="password" placeholder="Ingrese nueva contraseña"> 
        <div id="btnCont">
            <button id="btnSub" class="btnSub" type="submit">Cambiar contraseña</button>
            <a href="/">
                <button class="btnBack" type="button">Volver  atrás</button>
            </a>
        </div>
    </form>
</div>
