<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#each styles}}
        <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}}
    <title>{{title}}</title>
</head>
<body>

    {{{body}}}

    {{#if useSweetAlert}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{/if}}

    {{#if useWS }}
    <script src="/socket.io/socket.io.js"></script>
    {{/if}}

    {{#each scripts}}
    <script src="/js/{{this}}.js"></script>
    {{/each}}

</body>
</html>